<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>

    <script src="/components/chart.js/dist/Chart.bundle.min.js"></script>
    
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>
    <main role="main" class="container">
        <h1 class="text-center">Report</h1>
        <p class="text-info">This is a limited report we can't show inputs like textbox.</p>
        <p><span class="text-danger"><%= surveyRecordCount %> </span>people take the survey.</p>
        <div class="row">
                    <% for(stat of stats) { %>
                        <div class="col-6">
                            <% include ../../partials/chartContainer.ejs %>
                        </div>
                    <% } %>
                </div>
        <h1 class="text-center">Participants</h1>
                <table class="table table-inverse">
                    <thead>
                        <tr>
                        <th>#</th>
                        <th>isMember</th>
                        <th>IP Address</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%  let i,surveyRecord;
                            for(i = 0;i < surveyRecords.length;i++){
                            surveyRecord = surveyRecords[i];
                        %>
                        <tr>
                            <th scope="row"><%= pagination.pageStart+i+1 %></th>
                            <td><%= (surveyRecord.user_id) ? "YES" : "NO"  %></td>
                            <td><%= surveyRecord.ip %></td>
                            <td><a href="/user/report/survey/answers/<%= surveyRecord.survey_id %>">Detail</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% include ../../partials/paginationBar.ejs %>
    </main>
    <% include ../../partials/footer.ejs %>

</body>

</html>