<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <link rel="stylesheet" href="/css/survey.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="/components/jquery-bar-rating/dist/themes/bars-1to10.css">
    <link rel="stylesheet" href="/components/nestable2/dist/jquery.nestable.min.css">
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <main role="main" class="container">
        <h1 class="mt-2"><%= survey.title %></h1>
        <p class="lead"><%= survey.description %></p>
        <hr class="my-4">
                <% for (var i = 0; i < survey.Questions.length; i++) { %>
                    <div class="question card">
                        <div class="card-body">
                            <h5 class="card-title"><%= survey.Questions[i].question %></h5>
                            <div class="card-text">
                                <% switch (survey.Questions[i].type) {
                                    case "textBox": %>
                                    <input type="text" class="form-control" name="answers[<%= i %>][answer]" placeholder="Your Answer" minlength="<%= survey.Questions[i].min_length %>" maxlength="<%= survey.Questions[i].max_length %>" required>
                                    <% break;
                                    case "checkBox":
                                        for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                            <div class="form-check disabled">
                                                <input class="form-check-input" type="checkbox" id="checkbox<%= survey.Questions[i].Options[j].id %>" name="answers[<%= i %>][option_id]" value="<%= survey.Questions[i].Options[j].id %>">
                                                <label class="form-check-label" for="checkbox<%= survey.Questions[i].Options[j].id %>"><%= survey.Questions[i].Options[j].option %></label>
                                            </div>
                                        <% }
                                    break;
                                    case "multipleChoices":
                                        for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio<%= survey.Questions[i].Options[j].id %>" name="answers[<%= i %>][option_id]" type="radio" value="<%= survey.Questions[i].Options[j].id %>" required>
                                                <label class="form-check-label" for="radio<%= survey.Questions[i].Options[j].id %>"><%= survey.Questions[i].Options[j].option %></label>
                                            </div>
                                        <% }
                                    break;
                                    case "dropdownList": %>
                                        <select class="form-control" name="answers[<%= i %>][option_id]">
                                        <% for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                            <option value="<%= survey.Questions[i].Options[j].id %>"><%= survey.Questions[i].Options[j].option %></option>
                                        <% } %>
                                        </select>
                                    <% break;
                                    case "rating": %>
                                        <select class="bar-rating" name="answers[<%= i %>][option_id]">
                                        <% for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                            <option value="<%= survey.Questions[i].Options[j].id %>"><%= survey.Questions[i].Options[j].option %></option>
                                        <% } %>
                                        </select>
                                    <% break;
                                    case "sorting": %>
                                        <div class="dd" data-index="<%= i %>">
                                            <ol class="dd-list">
                                                <% for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                                    <li class="dd-item" data-id="<%= survey.Questions[i].Options[j].id %>"><div class="dd-handle"><%= survey.Questions[i].Options[j].option %></div></li>
                                                <% } %>
                                            </ol>
                                        </div>
                                    <% break;
                                } %>
                                <input type="hidden" name="answers[<%= i %>][question_id]" value="<%= survey.Questions[i].id %>">
                            </div>
                        </div>
                    </div>
                <% } %>
        </p>
            
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>