<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <link rel="stylesheet" href="/css/survey.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="/components/jquery-bar-rating/dist/themes/bars-1to10.css">
    <link rel="stylesheet" href="/components/nestable2/dist/jquery.nestable.min.css">
    <title>Answers of Survey | <%= survey.title %> | Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <main role="main" class="container">
        <h1 class="mt-2">Answers of Survey</h1>
        <p class="lead"><%= survey.title + " - " + survey.description %></p>
        <hr class="my-4">
                <% for (var i = 0; i < survey.Questions.length; i++) { %>
                    <div class="question card">
                        <div class="card-body">
                            <h5 class="card-title"><%= survey.Questions[i].question %></h5>
                            <div class="card-text">
                                <% if (survey.Questions[i].type == "textBox") { %>
                                    <h4><span class="badge badge-secondary"><%= survey.Questions[i].Answers[0].answer %></span></h4>
                                <% } else {
                                    for (var j = 0; j < survey.Questions[i].Answers.length; j++) { %>
                                        <h4><span class="badge badge-secondary"><%= survey.Questions[i].Answers[j].Option.option %></span></h4>
                                    <% }
                                } %>
                            </div>
                        </div>
                    </div>
                <% } %>
        </p>
            
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>