<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/logo.png" width="32" height="32"/>
                Oyla
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <% if(typeof session === 'undefined') { %>
                    <li class="nav-item <%= (page === 'login') ? 'active' : '' %>">
                        <a class="nav-link" href="/auth/login">Login</a>
                    </li>
                    <li class="nav-item <%= (page === 'register') ? 'active' : '' %>">
                        <a class="nav-link" href="/auth/register">Register</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/img/panda.jpeg" class="avatar rounded-circle"/>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <h4 class="dropdown-item"><%= session.username %></h4>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/profile">Profile</a>
                            <a class="dropdown-item" href="/user/survey">My Surveys</a>
                            <a class="dropdown-item" href="#/user/settings">Settings</a>
                            <a class="dropdown-item" href="/user/logout">Logout</a>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>
<% if(typeof notification !== 'undefined') { %>
<script>
    new Noty({
        theme : 'sunset',
        layout: 'topRight',
        timeout: 2000,
        type: '<%= notification.type %>',//notification.type
        text: '<%= notification.text %>'//notification.text
    }).show();
</script>
<% } %>