<% 
    var addPrefix = function(number){
        return (number < 10) ? "0"+number : number;
    }
    var updateDate = new Date(survey.updated_at)
    var parsedUpdateDate = updateDate.getDate() + '/' + (updateDate.getMonth() + 1) + '/' + updateDate.getFullYear()
    parsedUpdateDate += " " + addPrefix(updateDate.getHours()) + ':' + addPrefix(updateDate.getMinutes());
%>

<div class="card mb-4">
    <div class="card-header bg-dark text-light">
        <div class="card-title row">
            <div class="col">
                <a class="text-light" href="/survey/<%= survey.id %>">
                    <%= survey.title %>
                </a>
            </div>

            <% if(typeof survey.User !== "undefined"){ %>
            <div class="col  text-right">
                <a class="text-light" href="/user/profile/<%= survey.User.username %>">
                    <%= survey.User.username %>    
                </a>
            </div>
            <% } %>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">
            <%= survey.description %>
        </p>
    </div>
    <div class="card-footer text-right">
        <span><%= parsedUpdateDate %></span>
    </div>
</div>