<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../../partials/head.ejs %>
        <title>Oyla</title>
    </head>

    <body>
        <% include ../../partials/header.ejs %>
        <main role="main" class="container">
            <div id="user-profile-2" class="user-profile">
                <div class="tabbable">
                  <ul class="nav nav-tabs padding-18">
                    <li class="active">
                      <div data-toggle="tab">
                        <i class="text-primary ace-icon fa fa-user bigger-120"></i>
                        Profile
                      </div>
                    </li>                  
                  </ul>
          
                  <div class="tab-content no-border">
                    <div id="home" class="tab-pane in active">
                      <div class="row">
                        <div class="col-xs-12 col-sm-3 center mt-4">
                          <div class="container">
                            <img class="rounded mx-auto d-block img-fluid" alt=" Avatar" id="avatar2" src="/img/avatar.png">
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 mt-4">
                            <p class="text-center"><h4><%=user.username %></h4></p>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <p class="text-right">E-mail :</p>
                                </div>  
                                <div class="col-xs-8 col-sm-6">
                                    <p class="text-left"><%=user.email %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <p class="text-right">Full Name :</p>  
                                </div>
                                <div class="col-xs-8 col-sm-6">
                                    <p class="text-left"><%=userProfile.fullname %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <p class="text-right">Sex :</p>
                                </div>
                                <div class="col-xs-8 col-sm-6">
                                    <p class="text-left"><%=userProfile.sex %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <p class="text-right">Degree :</p>
                                </div>
                                <div class="col-xs-8 col-sm-6">
                                    <p class="text-left"><%=userProfile.degree %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <p class="text-right">Income :</p>
                                </div>
                                <div class="col-xs-8 col-sm-6">
                                    <p class="text-left"><%=userProfile.income %></p>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  
        </main>
        <% include ../../partials/footer.ejs %>
    </body>

</html>