<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <link rel="stylesheet" href="/css/survey.css">
    <title><%= survey.title %> | Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <main role="main" class="container">
        <h1 class="mt-2"><%= survey.title %></h1>
        <p class="lead"><%= survey.description %></p>
        <hr class="my-4">
        <p class="lead">
            <form>
                <% for (var i = 0; i < survey.Questions.length; i++) { %>
                    <div class="question card">
                        <div class="card-body">
                            <h5 class="card-title"><%= survey.Questions[i].question %></h5>
                            <div class="card-text">
                                <% switch (survey.Questions[i].type) {
                                    case "textBox": %>
                                    <input type="text" class="form-control" name="answers[<%= i %>]" placeholder="Your Answer">
                                    <% break;
                                    case "checkBox":
                                        for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="checkbox_0.63mn_0">
                                                <label class="form-check-label" for="checkbox_0.63mn_0"><%= survey.Questions[i].Options[j].option %></label>
                                            </div>
                                        <% }
                                    break;
                                    case "multipleChoices":
                                        for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                            <div class="form-check">
                                                <input class="form-check-input" name="radio_0.qnbc" id="radio_0.qnbc_0" type="radio" value="">
                                                <label class="form-check-label" for="radio_0.qnbc_0"><%= survey.Questions[i].Options[j].option %></label>
                                            </div>
                                        <% }
                                    break;
                                    case "dropdownList": %>
                                        <select class="form-control">
                                        <% for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                            <option><%= survey.Questions[i].Options[j].option %></option>
                                        <% } %>
                                        </select>
                                    <% break;
                                    case "rating": %>
                                        <select class="bar-rating">
                                        <% for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                            <option><%= survey.Questions[i].Options[j].option %></option>
                                        <% } %>
                                        </select>
                                    <% break;
                                    case "sorting": %>
                                        <div class="dd">
                                            <ol class="dd-list">
                                                <% for (var j = 0; j < survey.Questions[i].Options.length; j++) { %>
                                                    <li class="dd-item" data-id="<%= i %>"><div class="dd-handle"><%= survey.Questions[i].Options[j].option %></div></li>
                                                <% } %>
                                            </ol>
                                        </div>
                                    <% break;
                                } %>
                            </div>
                        </div>
                    </div>
                <% } %>

                <button type="submit" class="btn btn-primary">Complete the survey</button>
            </form>
        </p>
            
    </main>
    
    <% include ../../partials/footer.ejs %>
    <script src="/components/jquery-bar-rating/jquery.barrating.js"></script>
    <script src="/components/nestable2/jquery.nestable.js"></script>
    <script type="text/javascript">
        $(function() {

        });
    </script>

</body>

</html>