<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <title>Oyla</title>
</head>

<body>
    <% var page = 'profile' %>
    <% include ../partials/header.ejs %>
    
    <main role="main" class="container">
        <div class="row">
            <div class="col col-md-6">
                <span>Pictures or other things</span>
            </div>
            <div class="col col-md-6">
                <form method="POST">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Username : </label>
                        <div class="col-sm-8"> 
                            <p class="form-control-static">
                                <%= session.username %>
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Email : </label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                <%= session.email %>
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fullname" class="col-4 col-form-label">Full Name : </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="fullname" name="fullname" value="<%= userProfile.fullname %>"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="income" class="col-4 col-form-label">Income : </label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="income" name="income" value="<%= userProfile.income %>"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sexselect" class="col-4 col-form-label">Sex :</label>
                        <div class="col-sm-8">
                            <select id="sex" name="sex" class="form-control">
                                <option>Unspecified</option>
                                <option <%= (userProfile.sex === 'male') ? 'selected' : '' %>>Male</option>
                                <option <%= (userProfile.sex === 'female') ? 'selected' : '' %>>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="degreeselect" class="col-4 col-form-label">Degree :</label>
                        <div class="col-sm-8">
                            <select id="degree" name="degree" class="form-control">
                                <option>Unspecified</option>
                                <option <%= (userProfile.degree === 'bachelor') ? 'selected' : '' %> >Bachelor</option>
                                <option <%= (userProfile.degree === 'master') ? 'selected' : '' %> >Master</option>
                                <option <%= (userProfile.degree === 'doctoral') ? 'selected' : '' %> >Doctoral</option>
                            </select>
                        </div>
                    </div>
                    <div class="from-group">
                        <button type="submit" class="btn btn-primary btn-block" id="submit" name="user-profile-submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <% include ../partials/footer.ejs %>

</body>

</html>